body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background: url('badminton-header.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
  }
  #bad{
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 50px;
    height: 700px;
    width: 1200px;
  }
  
  header h1 {
    font-size: 3rem;
    margin-top: 0px;
  }
  
  header p.lead {
    font-size: 1.5rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 0.5rem;
  }
  
  footer {
    background: #333;
  }
  